@charset "UTF-8";

.screen-size-helper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 1.6em;
    font-size: 1em;
    padding: 0.5333333333333333em 0.8em;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.screen-size-helper .title,
.screen-size-helper ul {
    color: white;
    text-shadow: 0 1px 0 #000000;
}

.screen-size-helper .title {
    font-size: inherit;
    line-height: inherit;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
}

.screen-size-helper ul {
    float: right;
    margin: 0;
    padding: 0;
    line-height: inherit !important;
}

.screen-size-helper ul li {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit !important;
}

.screen-size-helper ul li.tiny {
    color: #0f75da;
}

.screen-size-helper ul li.small {
    color: #4a9b17;
}

.screen-size-helper ul li.medium {
    color: #ff9c00;
}

.screen-size-helper ul li.large {
    color: #c91111;
}

.screen-size-helper ul li.xlarge {
    color: white;
}
canvas{
    background-color:white;
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    position: absolute;
    left: 30vw;
    top: 16vh;
}
#content input
{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.aa
{
    width: 29vw;
    position: relative;
    left: 3vw;
    top: 4vh;
}
.help
{
    width: 26vw;
    position: relative;
    top:2vh;
}